.menu{
    font-size: 40px;
}

.logo{
    width:200px
}

.logo img {
    width:60%;
    margin-left: 20px;
}

.action{
    width:200px;
    height: 60px;
}

.action img[alt="信息管理"] {
    width: 20px;
    margin-top:20px;
    margin-left: 40px;
    float: left;
    cursor:pointer;
}

.action img[alt="消息通知"] {
    width: 30px;
    margin-top:15px;
    margin-left: 12px;
    float: left;
    cursor:pointer;
}

.action img[alt="头像"] {
    width: 35px;
    margin-top:12px;
    margin-left: 15px;
    float: left;
    cursor: pointer;
}



