.registerDiv{
    width:100%;
    height: 800px;
}

.logo_blue{
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
}

.registerContent{
    width: 1180px;
    height: 650px;
    margin: 20px auto auto;
}

.registerContent img{
    width: 820px;
    float: left;
    position: absolute;
}

.form{
    margin-top: -5%;
    width: 465px;
    height: 108%;
    float: right;
    background-color: #ffffff;
    box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.11);
}

.form h2{
    width: 22%;
    margin-left: 39%;
    margin-top: 20px;
}

.input{
    width:90%;
    padding-bottom: 15px;
    padding-top: 15px;
    /*margin-left: 8%;*/
}

.group{
    margin-left: 40px;
    width:100%;
}

.radioBtn{
    width:190px;
    height:70px;
}

.radioBtn img {
    width:60px;
    margin-top: 5px;
}

.radioBtn label {
    margin-left: 66px;
    position: relative;
    top:17px
}

.registerBtn{
    height:150px;
    margin-left:2px;
}

.notarize{
    width:84%;
    height:50px;
    margin-left: 8%;
    margin-top: 0px;
    display: block;
    font-size: 15px;
    border: none;
}

.toLogin{
    margin-left:64%;
    margin-top:30px;
}

h3{
    font-size:20px;
    margin-left:40px;
    margin-top:-5px;
    margin-bottom:5px;
}

.inputCode {
    width:65%;
    height:40px;
    margin-right:10px;
}

.reCode {
    width:32%;
    height:40px;
}

.codeBtn {
    border-radius:0;
    width:30%;
    height:40px;
    margin-top:20px;
    margin-left:35%;
}
